{% extends 'guest/base.html.twig' %}

{% block metatitle %}
    <title>beatlink - connect</title>
{% endblock metatitle %}

{% block main %}
    <main class="connect">
        <a href="{{ path('home') }}"><img src="{{ asset('assets/img/logo-beatlink.png') }}" alt=""></a>
        <section>
            <div class="title-connect">
                <h1>connecte toi !</h1>
                <h2>Et fais nous vibrer avec ta musique !</h2>
            </div>
            <form action="{{ path('connexion') }}" method="POST">
                <div class="email">
                    <label for="email">Adresse e-mail</label>
                    <input type="email" id="email" name="email" placeholder="monEmail@gmail.com*">
                </div>
                <div class="password">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="mot de passe*">
                </div>
                <div class="content-boutton2">
                    <div class="div-start">
                        <button type="button" onclick="window.location.href='inscription'">Je m'inscris !</button>
                    </div>
                    <div class="divbutton">
                        <button type="submit">Je me connecte !</button>
                    </div>
                </div>
            </form>

            <div class="flash-messages">
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            <h3>{{ message }}</h3>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}
